<h1>Cadastrar/Alterar</h1>
<form action="/create" method="POST">
    <input name = "player" placeholder="Digite o jogador"/>
    <input name = "score" placeholder="Digite o score"/>
    <button type = "submit">Alterar/Adicionar Pontuação</button>

</form>
<h3/>
<a href='/'>Rank Total</a>